<a href="https://colab.research.google.com/github/AEYSHA-AZAM/Data-zenix-Project3/blob/main/Data_cleaning_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dataset 1: Employee info with missing, duplicates, and outliers
import pandas as pd
import numpy as np

data1 = {
    'ID': [1, 2, 3, 4, 4],  # Duplicate row
    'Name': ['Ali', 'Sara', 'Bilal', 'Sara', 'Sara'],
    'Age': [25, np.nan, 28, np.nan, 999],  # Missing + Outlier
    'Gender': ['Male', 'Female', 'Male', 'Female', None],
    'Salary': [40000, 50000, 48000, 50000, 1000000]  # Extreme outlier
}

df1 = pd.DataFrame(data1)
df1.to_csv("dataset1.csv", index=False)

# Dataset 2: Department info with missing and outlier
data2 = {
    'Emp_ID': [101, 102, 103, 104, 105],
    'Department': ['HR', 'Finance', 'IT', 'HR', None],  # Missing
    'Join_Year': [2015, 2016, 2020, 2019, 2017],
    'Performance_Score': [5, np.nan, 9, 7, 100],  # Missing + Outlier
    'City': ['Lahore', 'Karachi', 'Lahore', 'Islamabad', 'Peshawar']
}

df2 = pd.DataFrame(data2)
df2.to_csv("dataset2.csv", index=False)

print("âœ… Datasets created successfully!")

âœ… Datasets created successfully!

In [ ]:
# Step 1: Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

# Step 2: Load CSVs
df1 = pd.read_csv("dataset1.csv")
df2 = pd.read_csv("dataset2.csv")

# Step 3: Initial Inspection
print(df1.info(), df2.info())

# Step 4: Handle Missing
for col in df1.columns:
    df1[col].fillna(df1[col].mean() if df1[col].dtype in ['float64', 'int64'] else df1[col].mode()[0], inplace=True)
for col in df2.columns:
    df2[col].fillna(df2[col].mean() if df2[col].dtype in ['float64', 'int64'] else df2[col].mode()[0], inplace=True)

# Step 5: Remove Duplicates
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

# Step 6: Standardize Columns
df1.columns = df1.columns.str.strip().str.lower().str.replace(' ', '_')
df2.columns = df2.columns.str.strip().str.lower().str.replace(' ', '_')

# Step 7: Clean Category Text
if 'gender' in df1.columns: df1['gender'] = df1['gender'].str.lower().str.strip()
if 'department' in df2.columns: df2['department'] = df2['department'].str.lower().str.strip()

# Step 8: Outlier Removal (IQR)
def remove_outliers(df):
    for col in df.select_dtypes(include=['float64', 'int64']).columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        df = df[(df[col] >= lower) & (df[col] <= upper)]
    return df

df1_cleaned = remove_outliers(df1)
df2_cleaned = remove_outliers(df2)

# Step 9: Save Cleaned Files
df1_cleaned.to_csv("dataset1_cleaned.csv", index=False)
df2_cleaned.to_csv("dataset2_cleaned.csv", index=False)

print("ðŸŽ‰ Cleaning complete!")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Age     3 non-null      float64
 3   Gender  4 non-null      object
 4   Salary  5 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 332.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Emp_ID             5 non-null      int64
 1   Department         4 non-null      object
 2   Join_Year          5 non-null      int64
 3   Performance_Score  4 non-null      float64
 4   City               5 non-null      object
dtypes: float64(1), int64(2), object(2)
memory usage: 332.0+ bytes
None None
ðŸŽ‰ Cleaning complete!

/tmp/ipython-input-5-2391801660.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1[col].fillna(df1[col].mean() if df1[col].dtype in ['float64', 'int64'] else df1[col].mode()[0], inplace=True)
/tmp/ipython-input-5-2391801660.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2[col].fillna(df2[col].mean() if df2[col].dtype in ['float64', 'int64'] else df2[col].mode()[0], inplace=True)